@import "vars";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: $color-bg;
	overflow-x: hidden;
}

.app {
	max-width: $width-desktop;
	min-height: 100vh;
	margin: auto;
	padding: 0 $side-padding;
	display: flex;
	flex-direction: column;

	.content-wrap {
		flex: 1;
		position: relative;
	}

	.content {
		padding: 20px 0 60px;
	}
}

.page-transition-enter {
	opacity: 0.1;
	will-change: opacity;
}

.page-transition-enter.page-transition-enter-active {
	opacity: 1;
	transition: opacity $PageTransitionTime;

}

.page-transition-leave {
	display: none;
}

.page-transition-leave.page-transition-leave-active {
}
