@import "vars";
@import "mixins";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: $color-bg;
	overflow-x: hidden;
	overflow-y: scroll;
}

.app {
	max-width: $width-desktop;
	min-height: 100vh;
	margin: auto;
	padding: 0 $side-padding;
	display: flex;
	flex-direction: column;

	.content-wrap {
		flex-grow: 1;
		//display: flex;
		//flex-direction: column;
		position: relative;
		background-color: $color-bg;

		@include tablet {
			// collapsed state
			//margin-bottom: -330px;
			//transform: translateY(-330px);
			//transition: transform $front-page-side-time cubic-bezier(.41,.02,.28,.94);
			//will-change: transform;

			// full width bg
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				bottom: 0;
				width: 100vw;
				transform: translateX(-50%);
				z-index: -2;
				background-color: $color-bg;
			}
		};

	}

	&.is-front .content-wrap {
		@include tablet {
			//margin-bottom: 0;
			//transform: translateY(0);
		}
	}

	.content {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 20px 0 60px;
	}
}


.page-transition {
	&-enter {
		opacity: 0.1;
		will-change: opacity;
	}

	&-enter#{&}-enter-active {
		opacity: 1;
		transition: opacity $PageTransitionTime;
	}

	&-leave {
		display: none !important;
	}

}
