$color-bg: #faf9f5;
$color-bg-alt: #f3f0e9;
$color-text: #1c1919;
$color-link: #0eb48d;

$width-tablet: 500px;
$width-desktop: 1024px;

$side-padding: 20px;

$header-height-mobile: 100px;

$front-page-side-time: 500ms;

// vars also in js file
$PageTransitionTime: 600ms;
