@import "../../gfx/mixins.scss";

.home-view {
	.service-list {
		@include tablet {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		};

		.media {
			@include tablet {
				width: calc(50% - 14px);
			};
		}
	}

	.about {
		margin-top: 60px;
		text-align: center;
	}

}
