@import "../../gfx/vars.scss";
@import "../../gfx/mixins.scss";

.site-nav {
	font-weight: 500;

	.menu {
		@include mobile {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			padding: $header-height-mobile 20px 20px;
			background-color: $color-text;
			text-align: center;
			z-index: 800;
			transform: translateX(100%);
			will-change: transform;
			transition: transform 300ms;
		}

		@include tablet {
			margin-top: 15px;
			text-align: right;
		}

		> li {
			margin: 5px 0;

			@include mobile {
				border-bottom: 1px solid #333;
				padding-bottom: 5px;

				&:last-child {
					border-bottom: none;
				}
			}

			@include tablet {
				position: relative;
				display: inline-block;
				padding-left: 25px;

				// arrow
				&.has-children > a:after {
					content: "";
					display: inline-block;
					width: 12px;
					height: 10px;
					margin-left: 4px;
					background: url("./img/submenu-arrow.png") no-repeat center;
					background-size: cover;
				}
			}
		}

		a {
			text-decoration: none;
			color: #fff;
			font-size: 18px;
			text-transform: capitalize;

			@include tablet {
				color: $color-text;
			}
		}
	}

	&.is-visible .menu {
		transform: translateX(0);
	}

	.submenu {
		margin: 5px 0 10px;
		padding: 0;
		z-index: 20;

		@include tablet {
			position: absolute;
			top: 99%;
			left: 50%;
			margin: 0;
			padding: 10px;
			text-align: left;
			background: rgba(255, 255, 255, 0.8);
			text-align: center;

			// closed state
			transform: translate(-50%, -20px);
			opacity: 0;
			transition: transform 300ms, opacity 300ms;
			will-change: transform, opacity;
			pointer-events: none;
		}

		li {
			margin: 0;

			@include tablet {
				margin: 5px 0;
			}
		}

		a {
			font-weight: 300;
			font-size: 14px;
			white-space: nowrap;
		}
	}

	li:hover > .submenu {
		// opened state
		@include tablet {
			transform: translate(-50%, 0);
			opacity: 1;
			pointer-events: auto;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		& > li.is-active > a,
		& > li:hover > a {
			color: $color-link;
		}
	}

	.menu-toggle {
		@include mobile {
			color: $color-text;
			position: relative;
			z-index: 810;
			border: none;
			background: none;
			display: inline;
			font-size: 18px;
			outline: none;
			white-space: nowrap;
			cursor: pointer;

			.stripes {
				position: relative;
				display: inline-block;
				width: 17px;
				height: 14px;
				margin-left: 8px;
				vertical-align: middle;

				&:before,
				&:after,
				.stripe {
					content: "";
					display: block;
					position: absolute;
					left: 0;
					right: 0;
					height: 2px;
					background-color: $color-text;
					transform-origin: 0 50%;
				}

				&:before,
				&:after {
					will-change: transform;
					transition: transform 300ms;
				}

				&:before {
					top: 0;
				}

				&:after {
					bottom: 0;
				}

				.stripe {
					top: 50%;
					transform: translateY(-50%);
					will-change: opacity;
					transition: opacity 300ms;
				}
			}
		}

		@include tablet {
			display: none;
		}
	}

	&.is-visible .menu-toggle {
		@include mobile {
			color:  #fff;

			.stripes {
				&:before,
				&:after {
					background-color: #fff;
				}

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}

				.stripe {
					opacity: 0;
				}
			}
		}
	}
}
